<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    {{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}">{{ end }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="/css/output.css">
    <link rel="stylesheet"  type="text/css" href="/css/customize.css">
  </head>

  <body class="open-sans text-base p-2">
    <div class="container mx-auto text-base p-2">

      {{- partial "header" . -}}

      {{ block "main" . }}
      {{ end }}

      {{- partial "footer" . -}}

      {{ template "_internal/google_analytics.html" . }}

    </div>
  </body>
</html>