      <nav id="main-menu" class="main-menu font-hairline py-2" aria-label="Main Menu">
        <ul class="list-reset">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="inline {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (and (eq $currentPage.Language.Lang "en") (eq .Name "Home")) (and (eq $currentPage.Language.Lang "cn") (eq .Name "中文")) }} active {{end}}">
              <a class="link text-2xl dim" href="{{.URL}}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
